[2015-10-19 23:30] ChristopherA opened #5 "Problems with Namecoin"
/re [code-and-file-signing.adoc #37af399](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/37af3991c206c204985449d85cc4e7dee72efa63/topics-and-advance-readings/code-and-file-signing.adoc)
/cc msgilligan

I've always been uncomfortable with Namecoin for a variety of personal reasons, but ever since it was revealed that no one noticed that a [single mining pool controlling over 60%

[2015-10-20 08:02] msgilligan commented on #5
Yes, mining centralization is a concern. I somehow get the impression that OneName.com had plans to create their own thing before the mining centralization story developed and used that as a time to announce. They seem to have had a go-it-alone attitude from the start. (For example they created a new namespace on Namecoin without much communication with the Namecoin devs.) Their solution does not

[2015-10-20 23:43] taoeffect commented on #5
All code signing stuff can be done using any blockchain. Easy to use Bitcoin instead via Blockstore.

[2015-10-20 23:44] taoeffect commented on #5
Two answers:
- Sia: https://siacoin.com
- Filecoin: http://filecoin.io/

Interesting discussion on the matter: https://www.reddit.com/r/ethereum/comments/3opycc/potential_decentralized_storage_for_ethereum_sia/cw06gx2

[2015-10-20 23:47] msgilligan commented on #5
@taoeffect Any thoughts on the Namecoin mining centralization issue?

[2015-10-20 23:53] ChristopherA commented on #5
If it is proof-of-existence that is paramount for your solution, and not some other property of a blockchain, then I like the approach that Tierion's Chainpoint uses https://github.com/chainpoint as a way to create a blockchain agnostic receipt. I may quibble with the JSON a little, but the general ideas is with that data you have all you need to confirm your hash without relying on a DHT service

[2015-10-20 23:57] taoeffect commented on #5
Namecoin has mining centralization problems. Bitcoin has mining centralization problems (though not as bad. Yet.). So do all blockchains, whether they use mining or not.

Don't ask for "the perfect blockchain". It doesn't exist (to my knowledge). Design systems where _many_ blockchains can co-exist.

[2015-10-21 00:53] msgilligan commented on #5
We need more than proof-of-existence, I believe. We need uniqueness, lookup, and proof-of-ownership. Standard naming stuff, but more than existence. Namecoin provides these well and seems a good fit for a PoC.

[2015-10-21 01:08] msgilligan commented on #5
As long as Namecoin is merged-mined by a subset of mining pools, it will always be _more_ centralized than Bitcoin. Is there any hope this can change?

[2015-10-21 03:16] taoeffect commented on #5
To be clear, none of this is a real problem if @msgilligan implements his stuff with an agnostic tool like DNSChain.

It becomes simple to switch from Namecoin, to Bitcoin, to Ethereum, etc.

So, I really don't think there's much of an issue here, except perhaps the lack of a [generic thin client protocol](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-

[2015-10-21 03:45] msgilligan commented on #5
I have two interests here:
1. Something I can quickly build a PoC Gradle plugin to demo code-signing using **any** Blockchain.
2. A long-term solution for naming that could be more broadly adopted for multiple applications.

Ultimately, I'm interested in both. But am leaning towards the DNSChain/Namecoin solution for the coming Hackathon.

[2015-10-21 03:54] msgilligan commented on #5
My biggest question about Blockstore is in their FAQ: [Is there any incentive to run a node?](https://github.com/blockstack/blockstore/wiki/FAQ#is-there-any-incentive-to-run-a-node) That seems like a good topic for discussion at the workshop.

[2015-10-21 03:57] taoeffect commented on #5
What's wrong with [the answer](#issuecomment-149736590) I gave last time you asked that? :P

[2015-10-21 04:07] msgilligan commented on #5
I don't think Blockstore is using those solutions, is it?

And they both look like large projects that do much more than what is needed for naming and that may or may not be successful long term.

I'm also somewhat familiar with StorJ and Maidsafe.

[2015-10-21 05:26] taoeffect commented on #5
Blockstore is not using those solutions, but that doesn't mean it couldn't, and if it doesn't, that doesn't mean they can't be used on their own without Blockstore.

I'm just saying, you asked a question, and that's the best answer I'm aware of. If you can think of something better you're welcome to suggest it! :P

[2015-10-21 05:38] msgilligan commented on #5
Yeah, so for my interest (1) above, being Blockchain agnostic with DNSChain seems like the right approach. For interest (2) I need to learn more about all these solutions. I'd definitely like to see something as minimal as possible that works on top of Bitcoin that can provide naming services. I appreciate the pointers!

I thought @ChristopherA's reference to Chainpoint was interesting as a nice,

[2015-10-21 07:12] peacekeeper commented on #5
My understanding is that Blockstore's DHT isn't really a critical component. Your incentive to run a DHT node is so you can do registrations/lookups more easily I think? But any problem with the DHT can't really impact existing registrations. Also, the DHT is just one of Blockstore's storage options, you could also store the data locally and publish regularly via FTP or something like that..

[2015-10-21 07:28] msgilligan commented on #5
I see some interesting commits coming in from @shea256 ... They're not linked from the README yet, but they're looking very relevant.

[2015-10-27 14:48] lchasen opened #12 "registrars and certificate authorities are not centralized"
re: authorities-vs-Peers: pain points in security.md
cc: @ChristopherA

The first paragraph first sentence states, "DNS Registrars and Certificate Authorities (CAs) offer examples of centralized authorities of trust on the Internet"

A meta point ... Registrars and CAs are not really centralized.

In The DNS world: Anybody can be a registrar or CA if they want to be.  Registries are centralized ov

[2015-10-27 15:22] jimscarver commented on #12
I think the point here is that Registrars, CAs and DNS are not really
DEcentralized in practice.  The issue is how we set up a Web of Trust
Registrar,
CA and DNS.

I've registered a bunch of .bit blockchain domains.  But name services do
not support it.  In order to enable the web of trust we must use
name services that follow individual users rules rather than risk trusting
services of those not

[2015-10-27 21:15] lchasen commented on #12
I agree on the goal … but i think it is important to recognize what parts of the existing ecosystem are really centralized and which parts are not.  These folks are just actors playing in a community that formed with particular rules of the road, both formal and informal, that have come about over the years.  The rules in place were not necessarily purposefully put in place rather the ecosystem fo

[2015-10-29 16:11] peacekeeper opened #13 "HD keys for Ed25519"
/re [hierarchical-deterministic-keys--bip32-and-beyond.md](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-readings/hierarchical-deterministic-keys--bip32-and-beyond.md)
/re [cool-hack-xdi-blockstore-bip32.md](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-readings/cool-hack-xdi-blockstore-bip32.md)

We are ex

[2015-10-30 02:58] christianlundkvist opened #15 "Questions about HD tree derivation path as unique keys"
In [Selective Disclosure Of Identity](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-readings/Selective-Disclosure-of-Identity.md) @shea256 writes

"the "double spend" problem of identity proofs is solved whereby users cannot share their keys that have been verified to be "over 21" because sharing an unhardened descendant key of a master public key mean

[2015-10-30 03:28] shea256 commented on #15
Correct. I will fix this.

Yes, exactly.

Hm, you might be on to something here. Let me think more about this.

[2015-10-30 05:03] ChristopherA opened #16 "Add Anil John's Tokens and Attributes Definitions?"
/re [shared_terminology_for_digital_identity_systems.md #bb8adf3] (https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/268ae852b1d8f6e1794abf7c09c07c768b219e40/topics-and-advance-readings/shared_terminology_for_digital_identity_systems.md)
/cc @christianlundkvist

What do you think about adding/reconciling your definition list with Anil John's thoughts on separating tokens and attrib

[2015-10-30 05:29] ChristopherA opened #17 "PGP & Vectors of Trust?"
/re [PGP-Paradigm.pdf #569b5a4](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/268ae852b1d8f6e1794abf7c09c07c768b219e40/topics-and-advance-readings/PGP-Paradigm.pdf)
/cc @joncallas

One thing that I've always wanted with PGP was when I signed someone's key was that I could notate more the quality and effort of my validity assertion. For instance, [vector of trust](https://tools.

[2015-10-30 07:19] peacekeeper opened #18 "Refugee Use Case"
/re [refugee-use-case.md](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-readings/refugee-use-case.md)
/cc @aliciacarmona
/cc @MrChrisJ

I think the Blockchain ID / World Citizenship initiative might be useful for the ID2020 Refugee Use Case?
https://github.com/MrChrisJ/World-Citizenship

(Not to be confused with Onename's Blockchain ID).

ID2020 seems

[2015-10-30 13:10] coder5876 commented on #16
Thanks for the suggestion @ChristopherA! I need to digest these articles more but it's interesting since it's from the viewpoint of the traditional federated identity model.

My note did define identity as a cryptographic name bound to attributes, as well as having the cryptographic name bound to private keys (i.e. Tokens). I feel like binding the cryptographic name (not necessarily human-readable

[2015-10-30 15:16] ChristopherA commented on #16
It also might be worth while to add in reference to attributes definitions for **Issuer**, **Subject**, and **Claim** as those are used in one of the most deployed attribute claims formats, JWT [RFC 7519](https://tools.ietf.org/html/rfc7519), which is used extensively by both the bitcoin and oauth/openid communities.

-- Christopher Allen

[2015-10-30 15:30] coder5876 commented on #16
@ChristopherA: Great idea, I'll update the docs! BTW do you like the name _Attestation_ to refer to a signed attribute claim, or is there a more standardized phrase?

[2015-10-30 15:41] ChristopherA commented on #16
My gut says that we should find a better word than _attestation_, but I don't have a good alternative. A unsigned statement is just statement. A claim is signed statement. Both are reasonably easy for a non-tech person to understand. But as soon as we say an attestation is a claim about another claim, we are now in the territory of confusing people.

[2015-10-30 15:59] shea256 commented on #16
@christianlundkvist I personally overloaded the word "claim" in my selective disclosure writeup. I also thought of using attestation but it didn't sound as good and didn't read as good. I know that "claim" is technically a JWT claim called claim, but I really don't think that's an issue and it's worth it when you get the additional readability and aesthetics of the word set.

[2015-10-30 16:55] coder5876 commented on #16
@shea256 @ChristopherA: Claim is nice but it seems to be targeted on being a True/False statement about a collection of attributes. Is this normally the case in the usage of this word? For instance in the JWT the `claim` field just contains one or more attributes.

For "Attestation" I also think of reputational attestations, i.e. I buy something from a vendor, and I give an attestation like "Good

[2015-10-30 20:56] coder5876 commented on #5
@msgilligan I've thought a bit about the problem you're trying to tackle here. IMO the way to go is something like this:
- Store the file (.jar or whatever) to be downloaded in a content-addressed file storage network like [IPFS](https://ipfs.io)
- The developer puts a hash of the file on a blockchain. The process of putting it on the blockchain will automatically associate a digital signature wit

[2015-10-30 21:07] ChristopherA opened #21 "Is a PoE-only thin client an example?"
/cc https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/562bbbf6f73039bd652338ed0c12b75efcba9e09/topics-and-advance-readings/thin-clients.md
/cc @taoeffect

Is a thin client that stores and gossips only about about a specific type of Proof-of-Existence records a good specific example of what you are talking about? Can you define one kind of thin client that is the most minimal in sco

[2015-10-30 21:16] joncallas commented on #17
They exist. Section 5.2.1 of RFC 4880. At one time during the discussions of transition from 2440 to 4880, we were looking at removing them, and they got put back in because people wanted them.

I don't think they're used not only because of UX — GnuPG implements just about _everything_ so it would be trivial to do, it's more that no one knows what they mean. That's the reason we were looking at r

[2015-10-30 22:21] jimscarver commented on #17
FreeTrust.org begins with dimensions of identity, presence, security and privacy for which we would have assertions and proofs.   Trust is subjective and personal trust,of signer weights trust in assertion.

I love the  Vectors of Trust standard!   but we must support them all since anyone might trust something different and nobody knows what the standard will be tomorrow.

It is wonderful to find

[2015-10-30 22:47] coder5876 commented on #16
@shea256 @ChristopherA: Is a claim normally signed only by the person making the claim? Or is the same word used when other people are signing the claim? I.e. the difference between me stating that I'm over 21 and the DMV stating that I'm over 21.

[2015-10-30 23:06] ChristopherA commented on #16
I make a statement that I'm over 21, and sign it myself and it is now a claim. Someone else points to my claim and makes a claim that they agree. That is a claim. If you trust their claim over mine because their identity is that they are DMV, go for it. Or you trust me, and don't need the support of the other claim, use that. You choose.

I think that is web of trust model.

P.S. If make a claim t

[2015-10-30 23:13] ChristopherA commented on #16
I think that the verb for these might affirm or confirm, but I'm not sure which is best.

http://www.differencebetween.net/language/difference-between-affirm-and-confirm/

[code]

So nouns are confirmation or affirmation?

[2015-10-31 00:54] ChristopherA opened #22 "Binding Tokens to Physical Identity?"
/re [binding-identity-in-decentralized-system.md #bce5f9a](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/2b78fe405a636a4988f7ffdc5ed72ff88d0b5a63/topics-and-advance-readings/binding-identity-in-decentralized-system.md)
/cc @wthayer

Wayne asks:

A comment and question to the participants this week:

Binding a token (aka private key) to attributes (a unique identifier) is alread

[2015-10-31 03:10] coder5876 commented on #16
Ah, I had in my definitions that attributes would be cryptographically bound to the name/identifier by definition, and claims would then be attributes that are signed by other people. But it seems like in federated identity systems you often have identity attributes that are not cryptographically bound to Tokens/credentials, so perhaps I should reword that.

As for terminology, I feel like "affirm

[2015-10-31 06:00] christianlundkvist opened #25 "Using HD tree branch for encryption with Curve25519?"
Re [HD keys - BIP 32 and beyond](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-readings/hierarchical-deterministic-keys--bip32-and-beyond.md)
CC @ChristopherA

I've been meaning to use specific branches of an HD tree for encryption using a tool like [Minilock](https://minilock.io) that uses Curve25519. My thought was basically to hash a private key fro

[2015-10-31 06:04] peacekeeper commented on #25
I'm also interested in this, my issue #13 asks a similar question.

[2015-10-31 06:11] coder5876 commented on #25
Yes, good point! My naive method above should work to obtain private keys for encryption (unless it's a bad idea for some reason I'm missing), but it won't give the HD properties for the Curve25519 public keys.

[2015-10-31 06:13] ChristopherA commented on #25
All you should need to do minilock style permits on the secp256k1 curve that Bitcoin uses is to [Schnorr Signatures](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-readings/Schnorr-Signatures--An-Overview.md), which have now been implemented in a library from Blockstream.

That being said, the are some interesting ideas of very deep and wide HD paths th

[2015-10-31 06:24] coder5876 commented on #25
True, I could probably implement the minilock specification using secp256k1, but one of the reasons I prefer to use minilock is that it's been security reviewed and is based on the (also thoroughly reviewed) tweetnacl library for Curve25519.

Agree that the high-entropy HD chain paths by @shea256 are very interesting and might have some cool applications. These were discussed also in issue #15.

[2015-10-31 06:26] ChristopherA commented on #25
I'm told that Blockstream's library has also been significantly security reviewed. Ask them Tuesday.

[2015-10-31 06:42] ChristopherA commented on #25
/cc @gmaxwell & @sipa, what is the security review/audit status of https://github.com/bitcoin/secp256k1, especially as compared to tweetnacl's? There is a common belief that because of the publicity about TweetNacl about its audit that it is more secure, but I'm not sure.

Related, security review/audit status of your extensions in https://github.com/ElementsProject/secp256k1-zkp ?

[2015-10-31 07:13] coder5876 commented on #25
@ChristopherA @gmaxwell @sipa I think the main differentiating factor between these two libraries is that (tweet)nacl is directly targeted at encryption (with high-level `crypto_box` APIs etc) whereas secp256k1 is targeted towards signatures rather than encryption. I guess one could use the secp256k1 library to compute the shared secret and then use that in the xsalsa20-poly1305 symmetric encrypti

[2015-10-31 11:13] jimscarver commented on #5
Individuals are free to trust any blockchain they choose in the FreeTrust.org philosophy so being blockchain agnostic is essential.  A challenge of FreeTrust will be finding services trusted in common by parties or running redundant services to satisfy all the parties.

FreeTrust itself cannot trust any blockchain so at least 3 blockchains need to agree in order to detect a deviant blockchain.  I

[2015-11-02 02:14] sipa commented on #25
libsecp256k1 is aimed at:
- Cryptography that uses the secp256k1 curve
- Very well tested & verified
- Efficiency
- Hard to use in unsafe ways

The past few months have mostly been focussed on API changes and testing/verification, as Bitcoin Core is planning to switch its signature validation to it. To give an idea of what we're talking about:
- libsecp256k1's unit tests which do (or did) comparis

[2015-11-02 02:19] sipa commented on #25
Instead of high-entropy HD chain paths, you can just use pay-to-contract derivation (pubkey = base_pubkey + HASH(base_pubkey || entropy) \* G). The only reason to use BIP32 is when you need the ability to exhaustively iterate children. If you don't need that, you can avoid its complication.

[2015-11-02 02:24] sipa commented on #13
Curve25519 secret keys require specific bits to be set and unset. That is incompatible with the linearity that BIP32 and related schemes (pay to contract) require.

[2015-11-02 02:48] coder5876 commented on #25
@sipa Oh, nice! So if `k = HASH(base_pubkey || entropy)`, then `privkey = base_privkey + k`. So you can share `R = k*G` to show your knowledge that `pubkey = base_pubkey + R` to verify that you own `base_pubkey`, but if you share `privkey` with someone then you would also share `base_privkey` with them which is the desired property. Very slick, thanks for sharing! 😊
CC @shea256

[2015-11-02 06:41] aquabu opened #31 "Negative reputation"
In [Reputation and The Real World](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-readings/ReputationAndTheRealWorld.md) @frandallfarmer says
"Reserve negative karma for egregious cases of misconduct; even then, look for alternatives."

@ChristopherA and I have talked about how most things you can do with a negative reputation system can be done more sa

[2015-11-02 11:53] coder5876 commented on #25
Or rather: You share knowledge of `entropy` to prove that you had a pay-to-contract derivation from `base_pubkey` to `pubkey` (and hence knowledge of `base_privkey`). But sharing `entropy` means sharing `k` which leads to sharing `base_privkey` if you share `privkey`.

[2015-11-02 17:45] peacekeeper opened #32 "Semantic Web and IPFS"
/re [Trust-Exchange-An-Architecture-for-a-Permanent-Open-Trust-Network.md](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-readings/Trust-Exchange-An-Architecture-for-a-Permanent-Open-Trust-Network.md)
/re [DecentralizedCooperationNeedsDecentralizedReputation.md](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-

[2015-11-02 17:50] harlantwood commented on #32
Thanks @peacekeeper, great exploration!

Also, IPFS is hoping to add IPLD to their upcoming 0.4 release: https://github.com/ipfs/go-ipld/issues/14#issuecomment-151686128

[2015-11-02 17:53] harlantwood commented on #32
/cc @dukedorje @aquabu @fractastical

[2015-11-02 22:01] fractastical commented on #31
Highly relevant is the Hacker News system which has long had upvotes and downvotes and has a second private "admin tier" capability of ghost-banning users perceived to be trolls.

[2015-11-02 23:27] harlantwood opened #34 "Ceptr and IPFS?"
/re https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-readings/Distributed_Receptor-Based_Computing.md
/cc @artbrock
/cc @zippy
/cc @jbenet
/cc @peacekeeper

@artbrock & @zippy: wondering if you have looked at http://ipfs.io as a place to store (parts of) the ceptr data.  IPFS is based on Merkle-DAGs (directed acyclic graphs), which might be a nice place f

[2015-11-02 23:28] harlantwood commented on #34
Closely related to #32

[2015-11-03 00:15] frandallfarmer commented on #31
Negative karma is great for system internal systems, such as IP SPAM source karma, etc. No one in the publick knows the "resulting" score of all the "this is spam" button clicks, but Yahoo/Google/etc, use this information to great effect.

[2015-11-03 00:50] fractastical commented on #31
@frandallfarmer I think that's one of the fundamental limitations of open reputational systems. If the source data / algorithm used for ranking are transparent, then they are easily gamable.  Equally true for review based systems like AirBnB and CouchSurfing, which have private feedback mechanism for people gaming the system.

[2015-11-03 03:52] dukedorje commented on #16
I've been using the term "assertion".

[2015-11-03 14:24] ChristopherA commented on #31
With strong persistent identity you may be able to have altruistic punishment (and meta-altruistic punishment see [Dunbar, Altruistic Punishment, and Meta-Moderation](http://www.lifewithalacrity.com/2005/03/dunbar_altruist.html)) as an effective negative reputation system, as both sides are visible. But you also are more likely to descend into high-school style clique politics as the group size gr

[2015-11-03 14:25] ChristopherA commented on #31
Equally a problem with most reputation systems is that they confusing rating and ranking, or use proven poor systems (the [5-star system](http://www.lifewithalacrity.com/2006/08/using_5star_rat.html) is a good example of a bad system). See [Systems for Collective Choice](http://www.lifewithalacrity.com/2005/12/systems_for_col.html) and its following articles on [ratings](http://www.lifewithalacrit

[2015-11-03 18:20] peacekeeper commented on #32
See @jbenet's contributions [ipfs-keychain.md](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-readings/ipfs-keychain.md) and [ipfs-links.md](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-readings/ipfs-links.md)

[2015-11-03 18:22] fractastical commented on #32
+1 for this

[2015-11-03 18:26] fractastical opened #42 "Link to "rlpx" doc is broken in readme"
https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advanced-readings/rlpx.md

[2015-11-04 23:30] harlantwood commented on #32
Index/search capabilities of [CRDTs](https://en.wikipedia.org/wiki/Conflict-free_replicated_data_type) being explored by IPFS. Some links:
- ipfs/notes#40
- ipfs/apps#12

[2015-11-08 03:41] du5t commented on #18
Thanks for this! I'll take a look and see if we can fit it in. There is some traffic going on for non-git people in an etherpad but I am bringing in the changes as needed on my repo fork.

[2015-11-08 04:56] du5t opened #48 "Use cases: interoperate or parallel records for credit history?"
There are two competing narratives for the use case of an insufficiently-credentialed person trying to get a bank account and participate in a Western credit system (FICO, renting housing, traditional loans).

One narrative is about using verifiable claims to enable the person's entry into the traditional system, the other one is about setting up a parallel infrastructure that invites servicers to

[2015-11-08 12:47] jimscarver commented on #48
Between the traditional banking circles and humans liberated to be their own bank, thanks to bitcoin, establishing global trust for the individual, are the credit unions, as in  http://MoneyCircles.com social money dynamical webs of trust constructed P2P.

[2015-11-08 21:57] du5t commented on #48
Credit unions definitely are a different model from banks, but they're perceived as similar from the perspective of consumer offerings (UX is everything for B2C). We want to be able to offer a less-contentious option as well as a radical one so that readers feel like they were shown something they can agree with either way.

What I'll do for now is place the more radical model in the context of a

[2015-11-08 22:02] du5t opened #49 "use cases: Is your offering represented?"
Once we have an acceptable editor-ready draft (probably by midnight PDT tonight), I want to invite everyone to inspect sections where technologies or brands are referenced as examples of systems that meet at least some of the needs illustrated in a use case, and submit PRs inserting links as needed.

Let's make sure everyone's efforts are "discoverable" :)

[2015-11-09 05:07] du5t opened #50 "use cases: terminology"
A lot of terminology and jargon are unloaded on a less-technical audience in this paper. This issue is for tracking them and making sure they're well-treated. A glossary may be the best choice.

  - [ ] self-sovereign
  - [ ] distributed
  - [ ] decentralized
  - [ ] secure
  - [ ] private/privacy-respecting
  - [ ] data store/repository
  - [ ] verifiable/proof/claim/signature
  - [ ] delegation

[2015-11-09 05:15] du5t opened #51 "use cases: misc. issues"
This is for tracking minor-ish items that just need checking off to make sure they've been addressed with brief discussion of some kind. Branching off into sub-issues as needed is not unwelcome.

- [ ] is onboarding sufficiently well discussed?
- [ ] are unsolved problems complete enough?
- [ ] is there the right amount of discussion of threat models?
- [ ] are technical requirements illustrated i

[2015-11-09 05:22] du5t commented on #51
Re: XDI, points raised for inclusion by @talltree during discussion:
- link contracts are p2p agreements about disclosure, sharing, and time of data
- in use case 3 (building credit), user is covered by protective stipulations without 'right to be forgotten'
- XDI (if well-implemented by bank and rating agencies) will enable user's ability to dispute erroneous or malicious financial rating or acti

[2015-11-09 05:25] du5t commented on #51
Re: use case 4 (refugee)
- self-sovereign identity needs further elucidation
- make sure definition of WoT and identities registered to it are clear
  - consider using Kaliya's topologies of identity models
- explain threat models at each point of refugee's journey
- biometrics should not be offered uncritically
- explain how motes of refugee's identity can be maintained (while respecting privacy)

[2015-11-09 06:16] taoeffect commented on #50
For explaining distributed vs decentralized vs centralized, this graphic is the best visual I'm aware of:

![decentralized distributed 2](https://cloud.githubusercontent.com/assets/138706/11027052/3166824e-8666-11e5-9772-cff88eb4f204.jpg)

Source: https://twitter.com/ioptio/status/597113993401098240 + https://github.com/ioptio/design/tree/master/networks

It was specifically designed to fix the co

[2015-11-09 06:19] du5t commented on #50
Perfect, thanks! Maybe we'll even be able to get the facilitating artist to jazz it up a little.

[2015-11-09 06:33] du5t commented on #51
Re: use case 5 (victim of trafficking):
- DELEGATION (in initiating record, obtaining attestations)
- STEWARDSHIP (of vulnerable or short identity record)
- Limited Liability Persona
  - http://bgidps.typepad.com/bgidps/2007/10/llp-in-the-new-.html
  - https://www.youtube.com/watch?v=Lazg31TN8FE
  - http://www.slideshare.net/Kaliya/identification-and-social-justice-

[2015-11-09 06:38] peacekeeper commented on #50
nice diagrams, but unfortunately they somewhat contradict the terminology of paul baran's 1964 paper in which "decentralized" and "distributed" are reversed compared to the diagrams in this thread

e.g. see here for the original:
http://networkcultures.org/unlikeus/resources/articles/what-is-a-federated-network/

i've seen (and used) those baran diagrams probably a dozen times at various meetups,

[2015-11-09 06:48] du5t commented on #51
Re: unsolved problems/opportunities (in closing discussion):
- Bootstrapping/onboarding/enrollment from self-affirmed identity attributes
- Swapping in 'proof of X' for 'X' in (all) transactions where someone's
  identity is read, as a rule
- Manageable and portable equipment for storing identity information and making
  strong (yet opaque) claims with precise scope
- Repudiable biometrics
- Negot

[2015-11-09 07:07] taoeffect commented on #50
No. Decentralized and distributed are correctly labeled in the graphic above. Again:

(Referring to the Baran paper.)

[2015-11-09 07:14] taoeffect commented on #50
To be clear: decentralized systems are a **subset** of distributed systems.

"Distributed" refers to redundancy of some resource (usually information or compute power) across nodes on a network.

"Decentralized" refers to control of those resources and a lack of a central point of failure. Distributed systems do inherently have some decentralization in the sense that they remove central points of

[2015-11-09 07:25] taoeffect commented on #50
Note that the graphic above is also not perfect since it half-implies that all distributed systems are centralized, which is not true since decentralized systems are a subset. Technically, it shows this distinction by having the network topologies be identical in both cases, but it's still confusing.

I'm still waiting for the "perfect graphic", but until then the one above is the best we have (th

[2015-11-09 07:30] du5t commented on #50
Wait, I thought the next step in the paper process involved both the editor (Shannon) and the artist (Sonia). Am I sorely mistaken?

[2015-11-09 07:32] taoeffect commented on #50
I don't know and I don't have any information to the contrary, so don't worry, in that domain you'd probably know better than me. :)

[2015-11-09 07:56] taoeffect commented on #50
Note for email readers: edited [comment](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/issues/50#issuecomment-154976473) to add Napster and Skype as examples of a distributed, peer-to-peer, yet centralized systems.

[2015-11-09 08:04] peacekeeper commented on #50
thanks for the explanations, make sense, but not sure if the general public will understand the concept of "distributed yet centralized".

you may want to check out this blog post by phil windley for a two/three dimensional rather than linear approach to terminology:
http://www.windley.com/archives/2015/01/re-imagining_decentralized_and_distributed.shtml

[2015-11-09 08:24] jbenet commented on #50
@taoeffect please stop stating as fact things like:
- "Distributed" refers to redundancy of some resource (usually information or compute power) across nodes on a network.
- "Decentralized" refers to control of those resources and a lack of a central point of failure.
- "Federated" systems are merely systems that are "more decentralized" than "centralized" systems. It refers to a degree of decentr

[2015-11-09 08:56] taoeffect commented on #50
This is a fantastic link, @peacekeeper! It does a great job of illustrating the different dimensions that these words have and is in line with the accepted technical definitions of the terms.

Great find! :smile: :+1:

@jbenet I thought we'd settled this discussion last time over dinner? Anyway, it looks like we both agree that these terms do not reflect a single spectrum (something I've always ma

[2015-11-09 09:14] taoeffect commented on #50
If you want to use that picture to tell history lessons, I have no problem with that.

But if you want to use his graphic as a way of describing what decentralized and distributed mean, then both I and you have a problem with that, as it's a graphic that does what you above so vehemently argued was a bad idea: putting these terms on a single spectrum. I agree with you, that's a terrible idea, and

[2015-11-09 09:26] taoeffect commented on #50
And just to make sure there's no misunderstanding, notice I [also criticized what you call "my diagram" for the same reasons](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/issues/50#issuecomment-154978645), which is why I was so pleased to discover the blog post @peacekeeper linked to.

[2015-11-09 13:11] peacekeeper commented on #50
i think the baran diagrams became popular a few years ago, around the time when diaspora launched and then the ostatus/status.net community emerged. at that time people called facebook "centralized", diaspora was called "decentralized" or "federated", and things like bittorrent/gnunet/retroshare/etc. were called "distributed" or "serverless". at that time, the baran diagrams were super helpful for

[2015-11-09 17:02] ChristopherA opened #53 "Attribution/Credits in "Satisfying Real World Use Cases""
/cc https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/985eb6010de59303197851173edb82c535d34def/draft-documents/satisfying-real-world-use-cases.md
/re @du5t

How does your team wish to handle attribution? Just "The Participants of the December 2015 #RebootingWebOfTrust Workshop"? A single list of everyone at the workshop? A more narrow list? A list with roles?

Which choice will mak

[2015-11-09 18:47] du5t commented on #53
Good question. Just for the record, here is a list of people who contributed to the document itself and their previous attribution preference (yes/no) if they gave one:
- @du5t - yes
- @identitywoman - yes
- @kiaraRobles - no
- @talltree
- @aquabu
- John Edge

[2015-11-09 18:49] du5t commented on #53
Perhaps a single "authorship" page at the end with a short list like the above with brief information like roles, and a longer list of the workshop attendees and workshop roles/titles? That would arguably represent the most information in context.

[2015-11-09 18:57] taoeffect commented on #53
If it helps, in our paper we have author attributions per section, and I'm also thinking we might have an "Authors" or "Acknowledgements" part at the top with all names listed (perhaps including reviewers). Just some ideas we're considering that might be worth thinking about.

[2015-11-09 22:23] du5t commented on #50
My feeling is that the audience of this whitepaper is going to be primarily a business one; in that case, I recommend we prioritize clarity and simplicity (from the audience's view) over precision and depth.

I think that anyone interested in this area as a business sector probably has a vague understanding of each of these terms as trends, and probably a sense of their age (and therefore relative

[2015-11-09 22:31] du5t commented on #48
The hybrid approach is present in the main repo, for your perusal: https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/draft-documents/satisfying-real-world-use-cases.md

[2015-11-10 01:34] ChristopherA opened #61 "Post-November Designshop: Where do we go from here?"
/re https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/event-documents/plenaries/7-where-do-we-go-from-here.md
/cc @shannona @johnedge @talltree @matthewjosef @fractastical

There are also notes from the wall at:
https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/event-documents/graphic-recording/08_Closing%20Plenary_1of5.JPG
https://github.com/WebOfTrus

[2015-11-10 03:17] harlantwood commented on #34
links:
- http://ceptr.org/
- https://ipfs.io/

[2015-11-10 03:22] harlantwood commented on #32
Also related to the https://github.com/ipfs/archives project -- eg Freebase: https://github.com/ipfs/archives/issues/10

[2015-11-10 03:29] talltree commented on #61
I'll repeat what I suggested at the event, which is that we should backward from what we want to have as an event at the 25th anniversary of PGP next June. Maybe we should form a planning group for that event, and that group could feed requirements/suggestions for what we need leading up to it.

[2015-11-10 04:46] jbenet commented on #53
yeah i think this is the right way. and acknowledgements to the "Rebooting
Web of Trust Group" can be a catch all for all the smaller contribs.

On Mon, Nov 9, 2015 at 6:57 PM, Greg Slepak notifications@github.com
wrote:

[2015-11-10 14:21] jimscarver commented on #49
I believe, in the longer term, we should crowd source use cases.  The list so far seems weak.  We should mention anything relevant to our global mission as well as our particular offering.  Things like blockchain providence, user managed authorization and social money should not be excluded.  There should be examples answering most everyone's concerns.  e.g.

MoneyCircles.com https://docs.google.c

[2015-11-10 17:23] talltree commented on #53
+1

On Mon, Nov 9, 2015 at 8:46 PM, Juan Benet notifications@github.com wrote:

[2015-11-10 17:58] jimscarver commented on #51
Re use case one (Selective Disclosure: Proof of Age)

It should be mentioned that the picture of the person is displayed to to the club owner or something to prove who's credential is being proven it the same person in possession of the phone.  It seems obvious but reader may wonder about that.

[2015-11-10 21:42] du5t commented on #51
Good point, but if you can unlock the phone and enter some passphrase or what have you to authenticate these requests, you can probably modify any picture that the phone can display. Moreover, I'm sure we'd like to avoid the issue of someone's ID portrait being drastically different from, say, a state-issued one becoming a bone of contention. I guess we can just mention that visual confirmation ca

[2015-11-10 21:52] jimscarver commented on #51
Your picture would have to be displayed on the club owner device after
scanning your QR code proof.  An alternative would be for the club owner to
snap your pic or use voice verification but there must be something proving
who the claim is for.

On Tue, Nov 10, 2015 at 4:42 PM, du5t notifications@github.com wrote:

[2015-11-10 21:53] ChristopherA opened #62 "Is Two-Factor Authentication an example of a simple Web of Trust Network?"
In https://www.fbi.gov/seattle/press-releases/2013/man-in-the-e-mail-fraud-could-victimize-area-businesses the FBI advises:

In effect, a telephone call to verify a transaction could be considered the first of a series "web-of-trust" validations. What we are saying in #DPKI and #SmartSignatures is that a single validation up a chain to a root CA is insufficient. If we are going to do more validati

[2015-11-10 21:58] du5t commented on #49
I'd say throughout the designshop everyone was completely open to input from anyone about what ended up in the paper. We simply picked a representative range that people were willing to work on--[the main authors](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/issues/53#issuecomment-155152473) of this paper have expended a costly amount of effort on each one, and the effort required

[2015-11-10 22:36] du5t commented on #62
This sounds like a great way of introducing people to the larger concepts! Highly networked people are definitely used to this kind of interaction and could easily imagine a cascade of the same through a decentralized system replacing centralized ones, especially now that reporting has done a good job of showing them to be huge brittle targets.

[2015-11-10 22:47] du5t commented on #51
If I can insert records into the store with that device and, say, my passphrase, I can change my picture anytime. So if I have the device, I can unlock it, and I can make valid claims, a picture in the store offers no more credibility than any other biometric.

Requiring very malleable biometrics like these on production of an ID leads to a whole [rabbit hole of issues](http://theadvocate.com/news

[2015-11-10 23:22] ChristopherA opened #63 "Topics Papers to Consider Advancing into White Papers?"
Were their any advanced topics papers that you particularly admired, and thus should be considered for editing, graphics, and inclusion with the white papers?

For instance, the paper [Authorities vs Peers: Pain Points in Security](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-readings/authorities-vs-peers--pain-points-in-security.md) had a decent amou

[2015-11-10 23:57] jimscarver commented on #51
I can lend you my device and you can prove you are over 65?  There must be
some assurance to the club owner that the claim to proven for you and not
the owner of the device.  It must be a biometric.  Otherwise the assurance
given to the club owner is zero.

On Tue, Nov 10, 2015 at 5:47 PM, du5t notifications@github.com wrote:

[2015-11-11 00:12] du5t commented on #51
If your device is properly secured, it's probably cost-prohibitive to do so. It doesn't have to be a biometric, and shouldn't be, for documented reasons I named above. Risk of fraud is accepted in any ID system--we should err on the side of harm reduction for good-faith users.

[2015-11-11 00:16] jimscarver commented on #51
How does the club owner know my device is properly secured?  What prevents
me from giving you access except a biometric?/

On Tue, Nov 10, 2015 at 7:12 PM, du5t notifications@github.com wrote:

[2015-11-11 00:22] du5t commented on #51
Oh come on: the club owner is completely not responsible for this, under even existing systems. This is not material to the discussion in the scope of this whitepaper anyway--the actual method of authentication and degree of due diligence is going to depend on the regulatory environment and the application engineers.

[2015-11-11 00:38] jimscarver commented on #51
The club owner is responsible for the person looking something like the
picture.  An ID without some physicall connection to who is presenting it
is useless. You cannot replace a photo id with a device proving a claim
about the ower of a device with no assurance the owner is present.

On Tue, Nov 10, 2015 at 7:22 PM, du5t notifications@github.com wrote:

[2015-11-11 00:43] du5t commented on #51
@jimscarver if you have anything new to add, please confine it to an issue specifically for that purpose. Repeating your arguments in this fashion is counterproductive.

[2015-11-11 17:06] jimscarver commented on #62
This is not just two factor.  It is multi-channel, [out-of-band](https://en.wikipedia.org/wiki/Out-of-band) authentication.  It is also "multimodal authentication" in adding a device factor to the authentication.  If the face and/or voice factors of the person holding the device are verified passively the biometric mode is are added factors.  Validating the gps local is another mode as is user beh

[2015-11-13 20:27] du5t commented on #53
For now I've added a byline, but I like where this conversation is going. Let me know when you settle on something and we can slide it in.

[2015-11-13 21:12] du5t commented on #50
I'm going to try throwing in an appendix discussing the differences with this picture and see how it looks. I'll make it a PR for commentary.

[2015-11-16 23:07] Identitywoman commented on #62
If we get out of using the language or term "web-of-trust" I think we will get a lot further. The fact is that 2 factor authentication is just that - an additional way to prove that person accessing an account is the rightful older of that account.
I would stay clear of using terms like 'validation' relative to authentication events - it is imprecise language.

[2015-11-17 00:55] jimscarver commented on #62
I would suggest that decentralized overlapping webs of trust can be a
solution to a trustworthy cyberspace whereas multifactor authentication is
an improvement but not a solution.

I am not sure what the issue being raised with the term validation is but I
think verification is a better term than validation for authentication
events.  Credentials may be validated but factors are verified.  Did I m

[2015-11-17 04:12] Identitywoman commented on #62
You have to actually define what you mean by trust.
 As I have made clear via my writings willy nilly throwing the term around is useless.  It is VERY VERY broad.
 One form of trust that needs to be improved is that people's control of their identifier end points no mater what the type (email addresses, phone number, pgpkey, login to ANY website an particularly sensitive ones be stronger -that is

[2015-11-19 00:48] shannona opened #72 "What's Next?"
This afternoon I put together a short discussion of what's next for the Rebooting the Web of Trust group. This is based on the final plenary and a graphic created by Sonia. It's available here:

[Creating the New World of Trust](http://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/draft-documents/whats_the_next_step.md)

There were of course many different ideas going in many di

[2015-11-24 21:19] ChristopherA opened #74 "First draft of smart-signatures.md ready for review"
/re [smart-signatures.md](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/draft-documents/smart-signatures.md)
/cc @christophera @gmaxwell @petertodd @shea256 @sipa @tjclose @shannona & Joseph Bonneau, Joseph Poon

A first draft of the smart signatures white paper is ready for review before Shannon does his final edit and we add any graphics.

Please push any changes or ad

[2015-11-24 21:31] sipa commented on #74
Sorry, but I have no time for this until at least Hong Kong (and why is that a relevant deadline for this?)

[2015-11-24 21:50] ChristopherA commented on #74
@sipa I understand if you don't have time — I'm sure preparing for the Scaling Bitcoin and Blockstream milestones has higher priority.

As it stands, the white papers are already behind schedule. We had decided at the event that we wanted to have the white papers before Thanksgiving so that we could have a virtual event in December and prep for more events in January.

I've had at least two people

[2015-12-07 18:55] ChristopherA commented on #74
Last call this week! In particular adding to open questions at bottom.

@gmaxwell @petertodd @shea256 @sipa @tjclose @shannona @jbenet @vbuterin @dominictarr @subtly @joncallas @taoeffect

[2015-12-08 01:58] harlantwood opened #78 "Distributed Permanent Identifier Registry"
What is your level of interest/availability in working on the _Distributed Permanent Identifier Registry_ paper @jbenet @ChristopherA @aquabu @peacekeeper @talltree @dukedorje ?

I think we have the seed of something awesome here, but it needs a fair bit of work.

https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/draft-documents/Distributed-Permanent-Identifier-Registry.md

[2015-12-08 15:13] peacekeeper commented on #78
I agree it's a super fascinating idea (let's call it DPIR?) and we should try to "complete" it, even if it ends up only explaining the idea on a high level without many technical details.

My understanding from the session was that this is an abstract "meta" protocol (more social than technical) for registering and recovering an ID through multiple technologies. In contrast, the DPKI paper describ

[2015-12-08 17:12] talltree commented on #78
Harlan,

I'm traveling this week so have limited bandwidth until this weekend, but I
love this concept and I agree with Markus that it has great synergy with
the DPKI paper which I have been working on quite a bit with Greg and crew.

So I definitely would like to help with the DPIR paper as well. What's the
next milestone? Can you wait until this weekend to get feedback from me?

Thanks,

=Drummo

[2015-12-08 22:58] taoeffect opened #79 "Define "hardened""
In HDR bip32 and beyond: https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/blob/master/topics-and-advance-readings/hierarchical-deterministic-keys--bip32-and-beyond.md

[2015-12-09 06:58] jbenet commented on #78
Spoke with @ChristopherA today, plan:
- (1) write a paper describing (a) the constraints of the problem and (b) sketching the solution space.
- (2) write a paper with a solution that works.

Need a real, solid solution before writing it up. I have time for writing (1) before Jan 1. And will be discussing (2) meanwhile, but doubt a paper for (2) will be out before Jan 1 (i want to make a thing that

[2015-12-20 23:32] benma commented on #13
@sipa

That is a bummer. Is there a way to make it work (I guess not since one probably cannot infer from the deduced public key whether the deduced private key has the 255th bit set)? Do you know of any other useful algorithms that rely on linearity in the secret keys, which would not work with ed25519?

Edit: maybe it is possible by sacrificing one bit in the secret key.

[2015-12-21 21:10] harlantwood commented on #78
Awesome!  Happy to help, especially with brainstorming & editing.

[2015-12-22 02:46] talltree commented on #78
Ditto from me. I want to help see this get implemented in early 2016.

On Mon, Dec 21, 2015 at 1:10 PM, Harlan T Wood notifications@github.com
wrote:

[2016-01-08 01:16] ChristopherA commented on #13
@sipa I spoke to Daniel Bernstein and Tanje Lang #RealWorldCrypto and the say we can do HD keys with 25519. The low 3 bits are cleared to avoid the small subgroup attack, so for the HD derivation you multiply the result by the small subgroup, i.e. 8. The high byte being cleared is only implementation specific, a good implementation doesn't need to do it.

They said that that the TOR team is doing

[2016-01-08 07:15] ChristopherA commented on #13
Here is the only thing I've found so far about TOR considering using it:

https://trac.torproject.org/projects/tor/ticket/8106

https://lists.torproject.org/pipermail/tor-dev/2012-September/004026.html

[2016-01-19 05:31] harlantwood commented on #78
@jbenet do you still see having the bandwidth to work on this?  What kind of help & support would you most like from the rest of us?

[2016-01-19 05:39] talltree commented on #78
FWIW, Christopher and I are still very active on this topic—I want to see
a decentralized identifier registry implemented in 2016. I'd love to sync
up with Juan and others on it when they come up for air.

On Mon, Jan 18, 2016 at 9:31 PM, Harlan T Wood notifications@github.com
wrote:

[2016-01-19 07:29] dukedorje commented on #78
I am also keen to help out in whatever ways I can.

On Mon, Jan 18, 2016 at 9:39 PM Drummond Reed notifications@github.com
wrote:

[2016-01-29 18:46] shea256 commented on #25
@sipa do you know of any libraries that employ this method that I could take a look at?

[2016-01-29 22:55] shea256 commented on #25
@sipa never mind, I just ended up making my own library.

Check it out: https://github.com/blockstack/ecdsa-keychain-js

@christianlundkvist @ChristopherA would love your thoughts on this as well.

[2016-02-29 14:16] conorohiggins opened #85 "Typo, 'trust' spelled 'turst'"
Page 3, paragraph 2, line 10

[2016-03-21 01:34] du5t commented on #49
Closing since paper was published.

[2016-03-21 01:34] #49 closed

[2016-03-21 01:34] du5t commented on #48
Closing since paper was published.

[2016-03-21 01:34] #48 closed

[2016-03-21 01:36] du5t commented on #50
Closing since paper was published. Also, looking back, this was a very exciting and stimulating thread. Thanks for your commentary, everyone.

[2016-03-21 01:36] #50 closed

[2016-03-21 01:37] du5t commented on #51
Closing since paper was published.

[2016-03-21 01:37] #51 closed

[2016-03-21 02:34] talltree commented on #50
du5t, I could not agree more. Thank you for everything you did to pull this
paper together and put it out.

On Sun, Mar 20, 2016 at 6:36 PM, du5t notifications@github.com wrote:

[2016-05-27 09:13] arnuschky commented on #13
I am curious about Ed25519 hierarchical deterministic keys as well (for totally unrelated reasons, though ;) ). Did anyone make any progress on this? I fiddled a bit with us using ed25519-python, but didn't get anywhere.

[2016-06-14 15:37] elf-pavlik commented on #32
I tend to use [RDF Dataset Normalization](https://json-ld.github.io/normalization/spec/) if storing RDF sources in filesystem, also [Linked Data Signatures](https://web-payments.org/specs/source/ld-signatures/) rely on it. The normalized [g-text](https://www.w3.org/2011/rdf-wg/wiki/Graph_Terminology#g-text) will always have the same checksum for particular [g-snap](https://www.w3.org/2011/rdf-wg/w

[2016-12-10 07:21] taoeffect opened #89 "Update DPKI document, section 6"
Right now section 6 puts too much focus on sharding. Our understanding of how identities are managed and recovered has since evolved and we need to be clear about the best way(s) of managing the lifecycle and representation of an identity, e.g. via an identity contract, where identity recovery/replacement is simply done via n-of-m signatures from identities that user trusts. No sharding needed/wan

[2016-12-10 07:24] taoeffect opened #90 "Update DPKI document, section 4.1, subsection 3(iii) — namespace rules"
Whereas it currently says that a namespace's rules cannot be altered once set, state that in fact they can but to do so the namespace itself must declare, at its creation, the rules by which the namespace rules can be modified.

[2016-12-21 21:01] shea256 commented on #13
@peacekeeper @ChristopherA @benma @arnuschky
Would any of you be interested in combining resources for a bounty to be rewarded to whomever can implement a BIP32 library with Ed25519?

[2016-12-22 00:07] benma commented on #13
@shea256 you can't do it with the normal ed25519. As @ChristopherA mentioned, you need to change the ed25519 format to *not* set the most significant bit, to restore linearity. It does not weaken the scheme, but it wouldn't be compatible with all the ed25519 implementations out there.

If you decide to ignore the most significant bit, implementing bip32 is not super difficult. You could just take

[2016-12-22 04:38] shea256 commented on #13
Ha I know I *can* implement it by building off of an existing implementation but I would prefer to have someone else tackle it and contribute financially to their efforts.

[2016-12-22 04:40] zmanian commented on #13
Chain has a spec for this
https://chain.com/docs/protocol/specifications/chainkd
On Wed, Dec 21, 2016 at 8:38 PM Ryan Shea <notifications@github.com> wrote:

[2016-12-22 04:54] shea256 commented on #13
@zmanian Oh very cool, thanks! Is there code anywhere for this?

[2016-12-22 04:56] zmanian commented on #13
https://github.com/chain/chain/tree/main/crypto/ed25519/chainkd
On Wed, Dec 21, 2016 at 8:54 PM Ryan Shea <notifications@github.com> wrote:

[2016-12-22 05:02] shea256 commented on #13
@zmanian Awesome, thanks! Do you use Chain Core?

[2016-12-22 06:48] zmanian commented on #13
Nope!

[2016-12-22 07:12] jasonalaw commented on #13
Hey, @shea256. We wrote a spec for [HDKeys for Ed25519 here](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust-fall2016/blob/master/topics-and-advance-readings/HDKeys-Ed25519.pdf). We also have some early code (python) that we can publish if there's enough interest.

@ChristopherA suggested we compare to ChainKD. @khovratovich and I are taking a closer look.

[2017-01-03 05:59] jasonalaw commented on #13
@shea256, we took a closer look. It looks like there are some issues with Chain's approach. Here are some high-level findings...

EdDSA requires the highest bit to be cleared, and the second highest bit to be set. In their scheme, Z_L and k^P_L are added together and even though they individually meet the highest bits criteria, the sum modulo n may not.

Bit 254 is set to make some implementations

[2018-07-21 18:04] tarcieri commented on #25
Anyone still interested in this should read this paper:

[Ed25519_BIP.pdf](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust/files/2216388/Ed25519_BIP.pdf)

There's also Ristretto, which would provide for a simpler implementation of a BIP32-like protocol on top of Curve25519 libraries than what's in the above paper:

https://ristretto.group/

[2018-08-06 13:12] macieklearns2code commented on #31
Perhaps it's useful to consider a negative reputation in the context of inter-cluster relationships.

There is a scale of relationships: from hostile to friendly. This applies to individuals and to groups.

An act can carry a punishment in one group and an equivalent reward in another. E.g. the more of an anti-hero Trump becomes in one group, the more of a hero he is in another.

This adds additio

[2018-08-06 20:52] frandallfarmer commented on #31
(Tried replying in email, seems that was a mistake...)

OOf. I'd recommend avoiding doing reputation math with negative weights entirely for "karma" (aka user reputation.)

In experience of social systems, the magnitude of a -1 and a +1 are never equal - even if you could get the scale to be clear and "Hostile to Friendly" is NOT a clear analog scale, so how can it be digitized?)

Twitter recently

[2019-05-20 18:55] infominer33 commented on #85
https://github.com/WebOfTrustInfo/rwot1-sf/blob/master/draft-documents/rebranding-web-of-trust.md

leaving this here for reference, for anyone whos curious. appears to have been fixed in the final

[2019-06-07 21:47] dpc commented on #13
Please excuse my ignorance here. Just trying to educate myself. Is there anything preventing using BIP32-like construction, but with "seeds" (as like in [libsodium](https://libsodium.gitbook.io/doc/public-key_cryptography/authenticated_encryption#key-pair-generation)) where sub-keys are just a `H(base_key || subkey_n)` concatenation or something like that? The way I understand it, the only propert

[2019-06-07 21:55] ChristopherA commented on #13
Doing equivalent to HD keys in 25519 space is not easy, as not all keys are valid unlike secp256k1. There has been proposals for how to do HD keys by some Evernym folk, but I don’t know current status, cryptographic review or working code.

— Christopher Allen

[2019-06-10 10:18] zmanian commented on #13
curve25519 is not a prime order curve. It is a cofactor 8 curve. As a result, it difficult to use the homomorphism between scalar and point addition safely because it is easily to end with points that are not in the prime order group.

Ristretto is designed to solve these problems.

We haven't yet designed an HD key scheme for ristretto but we are interested in doing so.

[2020-09-23 15:27] llorllale commented on #13
@peacekeeper @ChristopherA were any working implementations made?

[2020-09-23 15:40] ChristopherA commented on #13
In fact this is an issue that I'm concerned about. Clearly some 25519-based blockchains are able to secure using Ledger or Trezor hardware, which means they are turning cryptographic seeds into HD master keys (master private key and chaincode), however, how they are deriving child keys in 25519 is non-trivial, and I've not seen a consensus on what is the best way to do so. I know that Everynym had

[2020-09-23 16:20] baha-ai commented on #13
Does this spec seem to answer this issue: https://github.com/satoshilabs/slips/blob/master/slip-0010.md#test-vector-1-for-ed25519

There are reference implementations in the readme, and I also found a GoLang implementation (based off of the original [BIP32 Go implementation](https://github.com/tyler-smith/go-bip32)):
https://github.com/lmars/go-slip10

update: unfortunately the Golang implementati